################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Debug
*.user
*.vcxproj
*.filters
*.config
*.opendb
*.suo
*.db
*.sln
*.nupkg
*.pdb
*.dll
*.xml
packages/WindowsAzure.Storage.7.0.1-preview/lib/net40/Microsoft.WindowsAzure.Storage.xml
*.html
*.win
*.o
*.lib
/packages/VisualLeakDetector.2.5.0.0/lib/native/include/vld_def.h
/packages/VisualLeakDetector.2.5.0.0/lib/native/address-model-64/lib/Microsoft.DTfW.DHL.manifest
/packages/VisualLeakDetector.2.5.0.0/lib/native/address-model-32/lib/Microsoft.DTfW.DHL.manifest
/packages/VisualLeakDetector.2.5.0.0/lib/native/include/vld.h
/packages/VisualLeakDetector.2.5.0.0/build/native/VisualLeakDetector.targets
*.sdf
*.layout
*.dev
